body {
    background-color: #482028;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e1e1e1;
    margin: 0;
}


@keyframes fade_in {
    from {
        transform: translate(0, -100px);
        opacity: 0;
    }
}

.mainContainer {
    animation: fade_in 2s cubic-bezier(.5, 0, 0, 1) 50ms backwards;
    margin-top: 100px;
}

.main {
    text-align: center;
    margin-bottom: 100px;
}

.title {
    font-size: 144px;
}

.description {
    margin-top: 10px;
    font-size: 30px;
}

.mainButtons {
    margin-left: 25%;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.inviteButton {
    transition: 0.2s;
    background-color: #7289DA;
    display: inline-block;
    margin-top: 50px;
    padding: 10px 20px;
    color: #e1e1e1;
    text-decoration: none;
    border-radius: 3px;
    line-height: 48px;
    font-size: 24px;
}

.inviteButton:hover {
    transition: 0.2s;
    background-color: #6b7fca
}

.inviteButton img {
    float: left;
    margin-right: 16px;
    height: 48px;
    width: 48px;
}

.contentFrame {
    margin-top: 50px;
    padding: 0 50px;
    height: 150px;
}

.contentTitle img{
    width: 100px;
}

.contentDescription{
    margin-top: 10px;
    font-size: 24px;
}

.contentLeft {
    float: left;
    padding-left: 10%;
    font-size: 32px;
}

.contentRight {
    float: right;
    padding-right: 10%;
    font-size: 24px;
    color: #e1e1e1;
}

.contentLeft a,
.contentRight a {
    display: inline-block;
    color: #e1e1e1;
    text-decoration: none;
}

.contentLeft a:hover,
.contentRight a:hover{
    color: #ffffff;
}

.discordLink{
    transition: 0.2s;
    margin: 5px;
    line-height: 60px;
    text-align: center;
    height: 60px;
    width: 180px;
    background-color: #36181e;
    padding: 10px 20px;
    border-radius: 3px;
}
.discordLink:hover{
    transition: 0.2s;
    background-color: rgba(54, 24, 30, 0.5);
}

.githubLink{
    transition: 0.2s;
    margin: 5px;
    background-color: #222222;
    display: inline-block;
    padding: 10px 20px;
    color: #e1e1e1;
    text-decoration: none;
    border-radius: 3px;
    line-height: 48px;
    font-size: 24px;
}
.githubLink:hover{
    transition: 0.2s;
    background-color: #2a2a2a
}

.githubLink img {
    float: left;
    margin-right: 16px;
    height: 48px;
    width: 48px;
}